source https://nuget.org/api/v2

nuget FAKE
nuget FSharp.Data
nuget NUnit.Runners
nuget NUnit

github googlei18n/libphonenumber /resources/PhoneNumberMetadata.xml
github googlei18n/libphonenumber /resources/PhoneNumberMetadataForTesting.xml
github googlei18n/libphonenumber /resources/ShortNumberMetadata.xml
github googlei18n/libphonenumber /resources/PhoneNumberAlternateFormats.xml